xlsx2csv==0.8.1
emoji==2.8.0
pandas==2.0.3

torch==2.0.1
catalyst==22.4
Flask==2.2.0
Flask-Session==0.5.0
kombu==5.2.4
isort==5.12.0
black==22.8.0
autoflake==2.1.1
gunicorn==20.1.0
gevent==22.10.2
more-itertools==9.1.0
simplejson==3.19.1

transformers==4.30.2
polars==0.17.13
XlsxWriter==3.0.7
